git+https://git.direct-netware.de/dpt/file/@v1.0.1#egg=dpt-file
git+https://git.direct-netware.de/dpt/json/@v1.0.2#egg=dpt-json
git+https://git.direct-netware.de/dpt/runtime/@v1.0.2#egg=dpt-runtime

appdirs>=1,<2[appdirs]
git+https://git.direct-netware.de/dpt/builder_suite/@v1.0.1#egg=dpt-builder-suite[build]
